<ion-header>
  <ion-toolbar color="primary" size="large">
    <ion-title size="large">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      label="Email"
      labelPlacement="floating"
      type="email"
      [(ngModel)]="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
      label="Senha"
      labelPlacement="floating"
      type="password"
      [(ngModel)]="password"
    ></ion-input>
  </ion-item>
</ion-content>

<ion-footer class="footer">
  <ion-button expand="full" color="secondary" (click)="onLoginClicked()"
    >Entrar</ion-button
  >
</ion-footer>
