<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-icon
        name="log-out-outline"
        color="secondary"
        (click)="onLogoutClicked()"
        size="large"
      ></ion-icon>
    </ion-buttons>
    <ion-title size="large">Teste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="emptyStateContainer" *ngIf="!cityListWithClimate.length">
    <ion-label color="primary">Nenhuma cidade cadastrada.</ion-label>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let city of cityListWithClimate">
    <ion-card-header>
      <div class="card-title">
        <ion-card-title color="primary">{{city.name}}</ion-card-title>
        <ion-icon
          name="trash-outline"
          color="primary"
          (click)="removeCity(city)"
        ></ion-icon>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="card-content">
        <div class="col-left">
          <ion-label class="climate-info"
            ><strong>Vento: </strong>{{city.climateData?.wind}} km/h</ion-label
          >
          <ion-label class="climate-info"
            ><strong>Precip:</strong> {{city.climateData?.rain}} mm</ion-label
          >
          <ion-label class="climate-info"
            ><strong>Pressão:</strong> {{city.climateData?.pressure}}
            cm</ion-label
          >
        </div>
        <div class="col-right">
          <span class="temperature-text" color="secondary"
            >{{city.climateData?.temperature}}°C</span
          >
          <div class="condition-container">
            <img
              [src]="city.climateData?.condition?.icon"
              class="climate-img"
            />
            <ion-label>{{city.climateData?.condition?.text}}</ion-label>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-button expand="full" id="present-alert" color="secondary"
    >Adicionar</ion-button
  >
</ion-footer>

<ion-alert
  trigger="present-alert"
  header="Adicionar Cidade"
  [buttons]="alertButtons"
  [inputs]="alertInputs"
></ion-alert>
