#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.temperature-text {
  font-size: 32px;
  font-weight: 700;
  color: #EB6D2D;
}

ion-toolbar {
  height: 100px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.condition-container {
  display: flex;
  align-items: center;
}

ion-card-title {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

ion-icon {
  font-size: 24px;
}

.climate-info {
  font-size: 12px;
  color: #202122;
}

.climate-img {
  width: 48px;
  height: 48px;
}